{{/* decryptedWithOCI: {{ b64dec "REDACTED" | ungzip | decryptOCI "<key-ocid>" "<crypto-endpoint>" "<profile>" }} */}}
decryptedWithOCI: {{ b64dec "REDACTED" | ungzip | decryptOCI "ocid1.key.oc1.ca-toronto-1.exampleuniqueid" "https://example-prefix-crypto.kms.ca-toronto-1.oraclecloud.com" "DEFAULT" }}
